---
import Button from "../atoms/Button.astro";

---
<h3>Vous êtes intéressé par notre projet ?</h3>
<div class="contact">
  <Button href="/contact">Contactez nous</Button><p>pour mettre en place le projet dès maintenant !</p>
</div>


<style lang="scss">
  .contact {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
</style>
