---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
    <h1>CONTACT</h1>
    <section class="container">
            <div class="bloc_contact">
                <img class="line" src="/assets/blog/line.svg" alt="line arrondi">
                <div class="bloc_text">
                    <img src="/assets/blog/icone_message.svg" alt="icone d'une bulle de message">
                    <h3>Laissez-nous un petit mot !</h3>
                    <p>Vous êtes intéressé par notre projet ? Vous avez des questions ? n'hésitez pas, contactez nous !</p>
                    <div class="button">
                        <a class="a_button" href="mailto:ladf.lesanimauxdufutur@gmail.com">
                            <button>Nous contacter</button>
                        </a>
                    </div>
                </div>
                <img src="/assets/blog/chicken.webp" alt="Image d'une pouleosaure">
            </div>
    </section>
</BaseLayout>

<style lang="scss">
    body{
        background: #131515;
        footer{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            a{
            font-size: 14px;
            font-weight: 700;
            color: #E1F6FF;
            text-decoration: none;
            }
        }
        h1{
            display: flex;
            justify-content: center;
        }
        .bloc_contact{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .bloc_tittle{
            display: flex;
            flex-direction: row;
            align-items: start;
            gap: 8px;
            img{
                margin-top: 1.83rem;
            }
        }
        .bloc_text{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            h3, p {
                margin-block-start: 0;
                margin-block-end: 0;
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
        button{
            
            width: 150px;
            height: 53px;
            border-radius: 8px;
            background: #3AE7AB;
            border: none;
            font-weight: 700;
            transition: 0.2s;
            transition: transform 0.3s ease;
            &:hover{
                transition: 0.2s;
                background: #124835;
                color: #E1F6FF;
                filter: brightness(100%);
                transform: scale(1.05);
            }
        }
        .button{
            display: flex;
            justify-content: center;
        }
        @media screen and (min-width: 768px){
            .button{
                justify-content: flex-start;
            }
            .bloc_tittle{
                align-items: center;
                img{
                    margin-top: 0px;
                }
            }
        }
        .line{
            display: block;
            padding-right: 33px;
        }
        @media screen and (max-width: 943px) {
            .line{
            display: none;
            }
        }
    }
</style>
