---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
        <!-- container de la partie projet et de la partie des modules -->
        <section class="container">

            <!-- Première partie "Les coulisses avec le premier texte" -->
            <h1>LES COULISSES</h1>
            <div class="container_coulisse">
                        <p>Cet atelier d’éducation aux pratiques artistiques bénéficie de l’aide de partenaires<br>
                           (Région Nouvelle Aquitaine, Département Gironde, Département Landes, DRAC, ALCA, Passeurs 
                           d’Images, CCCHL, ACL de Sabres, Cinémagin’Action).<br>
                           Ce projet sous l’angle de la biologie spéculative a pour 
                           objectif de sensibiliser à la situation des espèces animales existantes, à leurs problématiques 
                           et leur avenir.
                           Une création graphique poétique, confrontant des techniques d’illustrations traditionnelles aux 
                           outils algorithmiques.<br>
                           Chaque session est en 3 phases : la recherche, la création, la valorisation, pour partir 
                           à la découverte de la biodiversité de demain…</p>
            </div>

            <!-- Deucième partie "Les les recherches" avec le titre et le texte à côté -->
            <div class="container2">
                <!--la div du texte pour les modules utilise la même class que le texte du texte projet -->
                <div class="text_container">
                    <h2>-LA RECHERCHE-  </h2>
                    <p>Chaque explorateur se documente et étudie un animal en lien avec son environnement. 
                        Il partage ses découvertes en équipe, échange et débat des évolutions possibles de son espèce. 
                        Un espace où art, science et imagination s’entremêlent pour enrichir la vision des participants 
                        sur notre planète.
                    </p>
                </div>
                <div>
                    <img src="../../public/assets/blog/egg.webp" alt="image d'un oeuf imaginaire">
                </div>
            </div>

            <!--troisième partie "crétaion" avec le titre et le texte sur la gauche et l'image sur la droite-->
            <div class="container2">
                <div>
                    <img src="../../public/assets/blog/paper.webp" alt="brouillon de dessin disposé sur une table avec un crayon">
                </div>
                <div class="text_container2">
                   <h2>-LA CREATION-</h2> 
                   <p>La mise en image des animaux du futur repose sur un principe d’itérations, combinant techniques 
                      traditionnelles et outils d’Intelligence Artificielle. Il y a un dialogue entre spontanéité et innovation, 
                      questionnant le rapport de l’humain à la machine dans une démarche créative. </p>
                </div>
            </div>

            <!--partie 4 -->
            <div class="container_part4">
                <!--première partie de la partie 4 -->
                <div class="bloc1">
                    <div>
                        <p>Pour mettre en lumière le procédé de création, prenons en exemple la première espèce du futur recensée dans ce projet, « la poulosaure ». 
                            C’était un processus hybride qui a été conçu étapes par étapes notamment avec ces croquis comme ébauche.</p>
                    </div>
                    <div class="img_bloc1">
                        <img src="../../public/assets/blog/dessin_poule1.webp" alt=" dessin de poule en noir et blanc">
                        <img src="../../public/assets/blog/dessin_poule2.webp" alt=" dessin d'une deuxième poule en noir et blanc">
                        <img src="../../public/assets/blog/dessin_poulosaure.webp" alt=" dessin d'une poule mélanger à un dinosaure">
                    </div>
                </div>
                <!--deuxième partie -->
                <div class="bloc2">
                    <div>
                        <p>Et puis ensuite en fusionant et en retouchant les croquis grâce a l’IA voila la poulosaure finale.</p>
                    </div>
                    <div>
                        <img src="../../public/assets/blog/poulosaure.webp" alt="">
                    </div>
                </div>
                <!--troisième partie -->
                <div class="bloc3">
                    <div>
                        <p>Pour clôturer chaque expédition, nous exposons les créations dans le lieu d’accueil, 
                        avant qu’elles ne commencent leurs itinérances dans d’autres lieux propices aux alentours.</p>
                    </div>
                    <div class="img_bloc3">
                        <img src="../../public/assets/blog/atelier_photo1.webp" alt="">
                        <img src="../../public/assets/blog/atelier_photo2.webp" alt="">
                        <img src="../../public/assets/blog/atelier_photo3.webp" alt="">
                    </div>
                </div>
                <!-- quatrième partie -->
                <div class="bloc4">
                    <div>
                        <img src="../../public/assets/blog/atelier_photo4.webp" alt="">
                    </div>
                    <div>
                        <p>Ces moments de célébration sont des occasions précieuses pour animer des débats 
                        autour des illustrations et de notre biodiversité.</p>
                    </div>
                </div>
                <!-- cinquième partie -->
                <div class="bloc5">
                    <div>
                        <p>Les explorateurs repartent avec leur animal sous la forme d’une carte postale, révélant au verso 
                        la fiche d’identité de l’espèce qu’ils ont découvert. </p>
                    </div>
                    <div class="img_bloc5">
                        <img src="../../public/assets/blog/card1.webp" alt="">
                        <img src="../../public/assets/blog/card2.webp" alt="">
                    </div>
                </div>
                <!-- sixième partie -->
                <div class="bloc6">
                    <div>
                        <p>Puis, chaque espèce est répertoriée dans le bestiaire digital, qui va grandir au fil des années 
                        et des interventions. Cet espace est accessible à travers l’exposition et les cartes postales 
                        grâce à un QR code qui restera inchangé pendant toute la vie du projet.<br>
                        Cela permettra aux nouveaux explorateurs comme aux plus anciens de suivre la suite de l’aventure.</p>
                    </div>
                    <div class="button_decouvrir">
                        <a href="#">
                            <button>Découvrir le bestiaire<span>&#10140;</span></button>
                        </a>
                    </div>
                </div>
            </div>

            <!--dernière partie "la suite" composé du titre, texte et bouton contact -->
            <div class="bloc7">
                <div>
                    <h2>– LA SUITE ? –</h2>
                    <p>En attendant la création d’un roman graphique transmédias physique et digital, 
                       mais aussi peut-être des expositions dans des muséums d’histoires naturelles… 
                       Ce projet à destination de publics scolaires, périscolaires et post-bac va perdurer 
                       dans le temps car il reste encore une multitude d’espèces à découvrir dans les différents biomes.

                    </p>
                </div>
                <div class="button_contact">
                    <a href="#">
                        <button>Nous contacter</button>
                    </a>
                </div>
            </div>
        </section>

</BaseLayout>

<style lang="scss">

    //configuration du container
    .container{
        h1{
            display: flex;
            justify-content: center;
        }
        .container_coulisse{
            padding-bottom: 128px;
        }
        .container2{
            display: flex;
            flex-direction: row;
            padding-bottom: 128px;
            flex-wrap: wrap;
            .text_container{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .text_container2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 32px;
            }
        }
        .bloc1{
            display: flex;
            flex-direction: column;
            .img_bloc1{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 64px 0px;
                img{
                    width: 306px;
                    height: 100%;
                }
            }
        }
        .bloc2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            p{
                width: 374px;
            }
        }
        .bloc3{
            display: flex;
            flex-direction: column;
            padding: 128px 0;
            p{
                padding-bottom: 64px;
            }
            .img_bloc3{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                img{
                    width: 308px;
                    height: 308px;
                }
            }
        }
        .bloc4{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            img{
                width: 413px;
                height: 413px;
            }
            p{
                width: 413px;
            }
        }
        .bloc5{
            padding: 64px 0;
            display: flex;
            flex-direction: column;
            .img_bloc5{
                padding-top: 64px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                img{
                    width: 428px;
                    height: 410px;
                }
            }
        }
        .bloc6{
            display: flex;
            flex-direction: column;
            .button_decouvrir{
                display: flex;
                justify-content: start;
                padding: 128px 0;
                a{
                    
                }
                button{
                    width: 317px;
                    height: 73px;
                    border-radius: 8px;
                    border: 0px;
                    font-weight: 700;
                    color: #E1F6FF;
                    background-color: #131515;
                    border: 2.6px solid #E1F6FF;
                    backdrop-filter: blur(10px);
                    transition: 0.2s;
                    &:hover{
                    transition: 0.2s;
                    background: #E1F6FF;
                    color: #131515;
                    }
                    span{
                        padding-left: 8px;
                    }
                }
            }
        }
        .bloc7{
            display: flex;
            flex-direction: column;
        }
        .button_contact{
            display: flex;
            justify-content: start;
            padding: 64px 0;
            height: 73px;
            button{
                width: 217px;
                height: 73px;
                border-radius: 8px;
                border: 0px;
                font-weight: 700;
                background-color: #3AE7AB;
                transition: 0.2s;
                &:hover{
                    transition: 0.2s;
                    filter: brightness(50%);
                }
            }
        }
    }
    @media screen and (min-width: 768px){

    }

</style>
