---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Drawer from '../components/Drawer.astro';

import { SITE } from '../config';
import { readdirSync, readFileSync } from 'fs'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let { title } = SITE;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

let biomes = {};

const speciesFolder = readdirSync('src/pages/species');

speciesFolder.map((fileName) => {
  const data = readFileSync(`src/pages/species/${fileName}`, {encoding: 'utf-8'});
  const jsData = JSON.parse(data);

  const biomeName = jsData.biome;

  if (biomes[biomeName]) {
    biomes[biomeName].push(jsData); // Ajouter l'espèce au biome existant
  } else {
    biomes[biomeName] = [jsData]; // Créer un nouveau tableau pour le biome et y ajouter l'espèce
  }
});


})

---

<html lang="fr">
	<head>
		<BaseHead {title} {description} {permalink} />

		<style lang="scss">
			body {
				background-color: #223228;
			}
			header {
				width: 100%;
				height: 100%;
				background-color: var(--theme-bg-offset);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content {
				margin-left: 7rem;
			}

			.content :global(main > * + *) {
				margin-top: 1rem;
			}

			.intro {
				padding-bottom: 4rem;
				margin-bottom: 2rem;
				border-bottom: 4px solid var(--theme-divider);
			}

			.intro > * {
				margin: 0;
			}

			.latest {
				font-size: 2.5rem;
				font-weight: 700;
			}

			footer {
				text-align: center;
			}

			.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7 {
				stroke-width: 0px;
			}
			.cls-1 {
				fill: #f4d347;
			}

			.cls-2 {
				fill: #acafaa;
			}

			.cls-3 {
				fill: #43682b;
			}

			.cls-4 {
				fill: #186b0f;
			}

			.cls-5 {
				fill: #e8e8e8;
			}

			.cls-6 {
				fill: #704032;
			}

			.cls-7 {
				fill: #7ad83d;
			}

			aside {
				position: absolute;
				top: 0;
				right: 0;
				width: 30%;
				height: 100%;
				background-color: #2D4436;
				display: none;
				&.active {
					display: block !important;
				}
				.data-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
				}
			}
		</style>
	</head>

	<body>
		<BlogHeader/>

		<div class="wrapper">
			<main class="content">
				<?xml version="1.0" encoding="UTF-8"?>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1653">
				<g id="Calque_12" data-name="Calque 12">
					<polygon id="biome5" class="cls-7" points="927.36 838.97 923.07 844.42 923.06 844.42 927.36 838.97"/>
				</g>
				<g id="Calque_5" data-name="Calque 5">
					<path id="biome1" class="biome cls-5" d="M1758.36,527.97l-15-9-16-6.12v-9.88l-5-7-10,1-14-27-16,1-7-13v-10l14-4,6-4-4-9-18-16-15,7-4-12h-10l-3-18-15-3-2-11-17,1-12-10-19,1-12,8-2,14-11,4,3,9,16,3,14,13-6,10-18-3-13,9-6,11-11-1-11,8-22,.02v-17.02l-13-2-14-8-19,8-13-7-10,13h-16l-8,6-18,8,6,17-18,5-4,4h-12l-7,9-15.31,2.55-1.87,7.3,165.71,215.48h118.42l4.05-11.33-3-15,7-11,10,7,10-18,12,3,9-17h13l2-8,9-2,23-16-14-10,6-7h11l3-4,8-1,9,2,7,5,2-10,1-23,5-12-3-9,4-14,5-17ZM1518.36,558.97l-9,9-12,16.61-1,1.39,3,7-2,16-10-4,1.5-10.46-7.5-16.54,4.27-3.56,7.73-6.44-5-7,8-20,8,11.17,10-7.17,13,12-9,2Z"/>
					<polygon id="biome2" class="biome cls-2" points="1494.9 1024.33 1522.36 1060.97 1519.57 1063.61 1435 1028 1434.84 1028.02 1434.83 1028.02 1303.76 1047.28 1272 1051.95 1244.44 1056 1132.71 1016.94 1132.69 1016.93 1110 1009 1106.62 1011.61 1035.86 1066.37 992 1119 914 1137.51 874.54 1146.87 888.89 1106.97 936 1065 919.36 1045.97 919.36 1015.58 976.36 966.54 969.46 921.97 985.22 892.97 985.22 856.47 987.46 852.37 993.13 841.97 1019.86 793 1068.36 793 1052 844 1052 896 1007.68 931.55 1007.67 931.56 1003.36 935.01 1002.8 940.55 1002.8 940.56 992.23 1045.97 1041.27 1009 1127 996 1166 1002 1205.86 1015.58 1222.31 1017.76 1272 1024.33 1328.36 984.97 1372.53 1002.26 1398.6 981.59 1398.6 981.58 1407.72 974.35 1442 903 1426.6 866 1426.6 829.97 1527.36 939 1495 961 1491.4 984.97 1494.9 1024.33"/>
					<polygon id="biome3" class="biome cls-6" points="1407.72 974.35 1398.6 981.58 1398.6 981.59 1372.53 1002.26 1328.36 984.97 1272 1024.33 1222.31 1017.76 1205.86 1015.58 1166 1002 1127 996 1041.27 1009 992.23 1045.97 1002.8 940.56 1002.8 940.55 1003.36 935.01 1007.67 931.56 1007.68 931.55 1052 896 1052 844 1068.36 793 1044.77 793 1107.83 723.32 1130.59 715.04 1174.68 699 1255 699 1302 772 1311.35 827.01 1316.36 856.47 1397 891 1407.72 974.35"/>
					<polygon id="biome4" class="biome cls-3" points="1661.36 789.1 1661.36 796.97 1650.36 796.97 1646.51 803.3 1637.36 807.97 1639.36 817.97 1636.36 829.97 1626.36 825.97 1613.36 831.97 1617.36 844.97 1599.36 830.97 1585.36 833.97 1586.36 857.97 1575.36 863.97 1567.36 867.97 1576.36 877.97 1586.36 884.97 1585.36 898.97 1595.36 914.97 1579.36 933.97 1580.36 952.97 1580.36 974.97 1563.36 982.97 1565.36 994.97 1560.36 1006.97 1555.36 1022.97 1554.36 1031.97 1543.36 1035.97 1543.36 1046.97 1522.36 1060.97 1494.9 1024.33 1491.4 984.97 1495 961 1527.36 939 1426.6 829.97 1426.6 866 1442 903 1407.72 974.35 1397 891 1316.36 856.47 1311.35 827.01 1328.36 829.97 1502.36 789.97 1510.36 803.97 1510.36 825.12 1533.36 824.97 1544.36 853.97 1552.36 860.97 1557.36 878.97 1564.36 850.97 1555.13 834.47 1560.3 820.47 1571.8 802.83 1588.74 805.97 1661.36 789.1"/>
					<polygon id="desert" class="biome cls-1" points="1520.79 1064.12 1516.36 1072.97 1504.36 1077.97 1503.53 1078.77 1480.36 1100.97 1453.65 1100.97 1451.36 1107.97 1425.36 1110.97 1425.36 1120.97 1393.44 1120.97 1368.36 1126.97 1391.47 1126.97 1390.36 1152.97 1373.36 1164.97 1386.36 1168.97 1394.36 1176.97 1382.36 1186.97 1393.36 1190.97 1393.36 1200.97 1378.36 1206.97 1377.36 1226.97 1358.36 1223.97 1340.36 1229.97 1360.36 1235.97 1352.36 1245.97 1347.36 1259.97 1335.98 1259.97 1333.36 1276.97 1303.36 1284.97 1301.36 1293.97 1285.36 1297.97 1280.36 1303.97 1243.88 1303.97 1245.36 1286.97 1245.36 1271.97 1231.36 1266.97 1231.36 1282.97 1217.36 1294.97 1190.36 1319.97 1186.36 1310.97 1173.36 1342.97 1157.36 1335.97 1145.36 1320.97 1131.36 1328.97 1107.36 1333.97 1100.36 1329.97 1076.36 1337.97 1066.36 1336.97 1045.36 1349.97 1026.36 1341.97 1024.86 1326.36 990.36 1338.97 964.36 1325.97 933.36 1333.97 929.36 1319.97 915.36 1317.97 892.36 1309.97 885.36 1292.97 862.36 1287.97 865.36 1273.97 843.3 1263.52 829.37 1256.92 827.36 1255.97 829.36 1249.97 805.36 1230.97 781.36 1236.97 815 1161 874.54 1146.87 914 1137.51 992 1119 1035.86 1066.37 1106.62 1011.61 1110 1009 1132.69 1016.93 1132.71 1016.94 1244.44 1056 1272 1051.95 1303.76 1047.28 1434.83 1028.02 1434.84 1028.02 1435 1028 1519.57 1063.61 1520.79 1064.12"/>
					<polygon id="forest" class="biome cls-4" points="782.36 818.97 782.36 866 777.31 869.5 772.86 872.58 768.73 869.8 763 870 735.04 849.04 702.17 824.39 690.97 816 686.59 818.8 577 889 577 816 428.29 830.07 428.25 829.97 427.51 830.15 348.36 848.97 344.48 831.9 343.36 826.97 350.73 820.47 343.27 808.9 332.36 791.97 336.36 776.97 327.36 771.97 322.36 757.97 309.36 749.89 309.36 739.93 294.36 731.97 281.36 726.97 291.36 720.97 287.36 673.97 295.36 658.97 294.36 643.97 294.36 637.97 296.36 613.97 313.36 575.97 328.36 590.97 335.36 567.97 353.36 549.97 378.5 548.6 367 621 496.06 723.32 650.61 782.89 686.59 795.8 690.97 793 702.17 801.39 740.03 814.98 767.44 824.82 779.61 816.74 782.36 818.97"/>
					<path id="prairie" class="biome cls-7" d="M1674.66,763.54l.7-5.57-15-19,12-10-4.22-12.67h-8.57l-5.21,9.67h-9l-4.83-9.67h-2.7l-20.47,2.67.95-2.67h-118.42l-165.71-215.48,1.87-7.3-8.69,1.45-4-4-7,12-9,7-11,17-2,22-10,.09v-18.09l-10-9-2-20-4-10-4,16-7,12-4,11h-6l-4-10-13,3-6-12-7-1-7-11-10-16-23,1-7-12-14,26-4-17-2-9-20,21-5,17-7,5-9,6-21,2-5,11-35,25-3,15-7.71,8.17-6.29,1.83-16,4-6.84-5.83-9.16,7.24-16,.59,9,23-2,11-2,21-8,6-7,7,10,16,16,24-16,5,5,23v17l4,9-16,9-14,6.31v5.69l-7,6-11,1-8,14-20-10-2,16-12,2.33v-21.33l-21,9-3.9-14.04h-12.1v-16.96l-4.9-.73-1.28,4.65-79.57,52.85,2.75,2.23v47.03l-5.05,3.5-4.45,3.08-4.13-2.78-5.73.2-27.96-20.96-32.87-24.65-11.2-8.39-4.38,2.8-109.59,70.2v-73l-148.71,14.07-.78.08-79.15,18.82-16.11,7.5-16.89-20.5-6,10,7,27,18,4-4,19,14,14-2,28,13-4,11,22-14,16.18v21.82l21,10.88v11.12l20,4v18l20,17v-24l19,1,3-7,11-1v14h28l11,13,14,1,10,14-3,6,8,32-1,11,18,9,16-8,7,23,18,10h14l-3,16,22-6,10-17-9-20,3-11-13-20-1-12,10-15-7-17,2-10,3-17-8-6,1-11v-9l28,5-5-8-2-13,6-9,4-16,9.86-13.97,2.14-3.03-5-12,1-21h20l1-8,10,1,10-9,15-10,5,8,10,8,6,13,10.76,1.08,9.24.92,12,8-20-1-1,17-9,5-23,32,16,5,9,14-22,7,8,21,4,10,17-3,12,9,2,10-13,17-12,5-1,18-9,12v14l13,1,7,5,8,1,3,7h-30l-11,15-14,1-18,13-19-17-8,10-6,9,14,11h-8l-5,10,16,1,1,7-8,16,15,8-22,2,16,4,16,5,23-4,2-7,17-3,18-4h12l12,17,27-15,8,36,33.64-75.97,59.54-14.13,14.35-39.9,47.11-41.97-16.64-19.03v-30.39l57-49.04-6.9-44.57,15.76-29v-36.5l2.24-4.1,5.67-10.4,26.73-48.97h24.91l63.06-69.68,22.76-8.28,44.09-16.04h80.32l47,73,9.35,55.01,17.01,2.96,174-40,24.35,4.51,5.65-2.51,11,5h11l4-9,4-6,13-3v-20l9,19,8,9,3,10-6.62,9,72.62-16.87v-2.13l14-3-2-10,1.3-10.43ZM904.36,1068.97l-7.15,2.5h-11.25l-14.6,8.65v8.85l-13,5-9-.13v8.13l-11,5-15-13.13v-15.47l-12-10.4,12-9.65v-11.35h-8l-11,2-8,1-3-12-11-2,3-12,1-12,5,6,20-10v14h17l-1-6,4-9,13,2,4-15h13l7-9,13,8-3,8-8.58,2h-15.42l-3.5,9h-17.5l3,9-3,9,7,11,.93-5,14.07,4,10,1,20-2,1,6,11,6,1,11h16l5,4-15,3ZM975.25,841.97l-8.89,8-7.17,6.07-18.83,15.93-13-8-4,19-18,13.99v16.01l-27,9-24-5.34v-25.66l21-1,8-18,15-8,.1-.06h0l16.89-9.71,7.7-9.78,4.3-5.45h24l14-9,11,11-1.11,1ZM1068.36,697.97l-18,15-8.27,19.3-6.73,10.7,3.01,20.96h-18.51l-3.5-37.96-13-2,21.5-2.51,17.5-5.79,3-28.7-6-8,9-5-1-10,16-7,5,11.22v29.78ZM1208.2,649.97l-4.84-8-27,8,16-17,43-3-27.16,20ZM1332.36,760.97l-8-2-1-9-7-5,1-10h2.48l11.52,3,9,16-8,7Z"/>
					<polygon id="biome5" class="biome cls-5" points="860.46 759.24 859.18 763.89 779.61 816.74 767.44 824.82 740.03 814.98 702.17 801.39 690.97 793 686.59 795.8 650.61 782.89 496.06 723.32 367 621 378.5 548.6 380.86 548.47 397.86 536.47 400.86 523.47 397.86 511.47 395.86 490.47 395.86 467.47 400.86 459.32 417.36 447.97 432.36 444.97 426.36 437.97 422.88 437.97 429.36 431.97 432.36 426.26 439.36 427.97 432.36 413.97 426.36 409.97 426.36 400.97 433.12 400.97 439.36 392.02 455.36 389.97 466.36 386.97 466.36 375.49 450.36 377.97 453.36 366.97 466.36 364.86 475.36 362.97 484.36 371.97 495.36 375.97 510.36 378.97 520.36 383.97 520.36 402.25 524.36 399.97 526.36 387.97 538.36 378.97 544.36 382.97 546.36 402.97 542.36 416.97 534.36 429.97 529.36 445.97 522.36 451.97 522.36 462.97 505.36 474.97 504.36 485.97 509.36 486.97 510.36 496.97 502.36 500.97 502.36 512.97 513.36 509.97 513.36 515.97 498.36 529.97 512.36 524.97 526.36 524.97 528.36 534.97 515.36 534.97 513.36 544.97 503.36 544.97 498.36 553.97 501.36 558.97 495.36 566.97 495.36 583.97 499.24 583.97 498.36 595.97 502.36 610.97 530.36 607.97 548.36 597.97 559.36 602.97 579.36 596.97 591.36 601.97 605.5 610.97 618.36 606.97 627.36 604.97 637.36 606.97 637.36 585.66 657.36 580.97 663.36 562.97 682.36 558.97 682.36 543.94 698.36 545.97 716.36 538.97 727.36 532.97 732.36 552.97 745.36 562.97 748.36 576.97 769.36 569.97 785.36 580.97 782.36 588.97 776.36 593.97 776.36 608.97 762.36 614.97 756.36 621.97 747.36 613.97 731.36 611.97 726.36 617.97 726.36 632.97 719.36 640.97 721.36 646.97 715.36 655.97 726.36 667.97 726.36 680.97 721.36 682.97 700.36 688.97 706.36 703.97 723.97 703.97 728.36 690.97 742.36 687.97 737.36 669.97 745.36 656.97 755.36 674.97 768.36 661.97 769.36 643.97 781.36 644.97 789.36 640.97 796.36 632.97 803.36 646.97 796.36 658.97 803.36 674.21 811.36 694.97 801.36 696.97 793.36 685.97 802.36 711.97 802.36 727.97 810.11 723.32 822.36 715.97 838.69 723.32 842.36 724.97 847.86 723.32 852.36 723.32 852.36 732.46 846.36 743.97 852.36 758.04 860.46 759.24"/>
				</g>
				</svg>
			</main>
			<aside>
				<Drawer id="desert" data={biomes['desert']}/>
			</aside>
			<footer>
			<a href="/admin">Admin Dashboard 🔐</a>
			</footer>
		</div>
	</body>
</html>

<script>
	const biome = Array.from(document.querySelectorAll<HTMLElement>(".biome"));
    const aside = document.querySelector("aside");

    biome.map((elmt) => {
		elmt.addEventListener("click", (event) => {
			aside.classList.add("active");
			event.stopPropagation();
			const clickedElement = event.target as HTMLElement;
			const biomeElement = clickedElement.closest('.biome');
			if (biomeElement && biomeElement.classList.contains('biome')) {
				console.log('Biome ID:', biomeElement.id);
			}
		});
	});

    document.addEventListener("click", (event) => {
        const isClickInsideAside = aside.contains(event.target as Node);
        if (!isClickInsideAside) {
            aside.classList.remove("active");
        }
    });
</script>
