---
// Component Imports
import { SITE } from '../config';
import BaseLayout from '../layouts/BaseLayout.astro';

let { title } = SITE;
let description = "Imaginer les animaux qui vivront sur notre planète dans plusieurs millions d'années, un projet pédagigique engagé";
let permalink = 'https://les-animaux-du-futur.netlify.app/';

---
<BaseLayout>
	<section>

	</section>
<BaseLayout/>


<style lang="scss">
</style>
