---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
        <!-- container de la partie projet et de la partie des modules -->
        <section class="container">
            
            <!-- Première partie "Le projet" -->
            <div class="container_project">
                <div class="text2">
                    <h2>Le projet</h2>
                    <p>Les animaux du futur est un projet vivant et collaboratif, visant à instruire et sensibiliser 
                       les jeunes sur les espèces animales actuelles et futures.</p>
                    <p>L’objectif de ce projet est la création d’un univers transmédia, physique et digital, mais 
                       aussi une restitution à travers une installation dynamique et interactive de muséographie.</p>
                    <p>Il a comme ambition de vibrer sous les yeux des jeunes générations, d’inciter les élèves de collège, 
                       primaire et de lycée à imaginer la richesse d’un monde futur.</p>
                </div>
                <img class="img_atelier" src="../../public/assets/blog/img_atelier.webp" alt="">
            </div>

            <!-- Deucième partie "Les modules" avec les 3 cartes -->
            <div class="container_module">
                <!--la div du texte pour les modules utilise la même class que le texte du texte projet -->
                <div class="text">
                    <h2>Les modules</h2>
                    <p>Trois modules sont présents à la découverte, chacun s’articulant autour de la sensibilisation 
                       sur les enjeux du climat ainsi que sur les espèces en voie de disparition tout en s’adaptant 
                       à chacun des niveaux scolaires : primaire, collège et secondaire. Ces modules sont formés de 
                       trois parties : la recherche, la création, et la valorisation. Cela permet de faire réaliser 
                       les enfants aux enjeux climatiques, tout en stimulant leur imagination de façon pédagogique 
                       et récréative.</p>
                </div>
                <div class="card_module">
                    <a href="#">
                    <div class="card1">
                            <h2 class="first_h2">Petit</h2>
                            <h2 class="second_h2">Explorateur</h2>
                            <h3>De 6 a 11ans</h3>
                        </div>
                    </a>
                    <a href="#">
                    <div class="card2">
                            <h2 class="h2_card2">Explorateur</h2>
                            <h3>De 12 a 15ans</h3>
                        </div>
                    </a>
                    <a href="">
                    <div class="card3">
                            <h2 class="first_h2">Grand</h2>
                            <h2 class="second_h2">Explorateur</h2>
                            <h3>De 6 a 11ans</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>

</BaseLayout>

<style lang="scss">
    body{
        background: #131515;
    }
    //configuration du container
    .container{
        margin: 50px 30px;

        h1{
            font-size: 48px;
            font-weight: 500;
            color: #E1F6FF;
        }
        h2{
            font-size: 35px;
            font-weight: 500;
            color: #E1F6FF;
        }
        h3{
            font-size: 25px;
            font-weight: 500;
            color: #E1F6FF;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #E1F6FF;
        }
        a{
            font-size: 14px;
            font-weight: 700;
            color: #E1F6FF;
        }
        //div project
        .container_project{
            width: 100%;

            .img_atelier{
                width: 100%;
            }
        }
        //div module
        .container_module{
            padding-top: 64px;
            width: 100%;
            .card_module{
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
                justify-content: center;
                align-items: center;
                padding: 64px 0;
            }
            //la première carte animé des 3 modules différents
            .card1{
                width: 250px;
                height: 400px;
                background-image: url('../../assets/blog/img_petit_explorateur.webp');
                background-size: cover;
                filter: brightness(60%);
                transition: 0.2s;
                transition: transform 0.3s ease;
                &:hover{
                    transition: 0.2s;
                    filter: brightness(100%);
                    transform: scale(1.05);
                }
                h2{
                    margin: -2px;
                    margin-left: 50px;
                    color: #000;
                }
                .first_h2{
                    display: flex;
                    padding-top: 260px;
                }
                h3{
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                    margin-right: 16px;
                    color: #000;
                }
            }
            //deuxième carte des 3 modules différents
            .card2{
                width: 250px;
                height: 400px;
                background-image: url('../../assets/blog/img_explorateur.webp');
                background-size: cover;
                filter: brightness(60%);
                transition: 0.2s;
                transition: transform 0.3s ease;
                &:hover{
                    transition: 0.2s;
                    filter: brightness(100%);
                    transform: scale(1.05);
                }
                h2{
                    margin: -2px;
                    margin-left: 50px;
                }
                .h2_card2{
                    display: flex;
                    padding-top: 290px;
                }
                h3{
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                    margin-right: 16px;
                }
            }
            //troisième carte des 3 modules différents
            .card3{
                width: 250px;
                height: 400px;
                background-image: url('../../assets/blog/img_grand_explorateur.webp');
                background-size: cover;
                filter: brightness(60%);
                transition: 0.2s;
                transition: transform 0.3s ease;
                &:hover{
                    transition: 0.2s;
                    filter: brightness(100%);
                    transform: scale(1.05);
                }
                h2{
                    margin: -2px;
                    margin-left: 50px;
                }
                .first_h2{
                    display: flex;
                    padding-top: 260px;
                }
                h3{
                    display: flex;
                    justify-content: flex-end;
                    margin: 0;
                    margin-right: 16px;
                }
            }
        }
        .text{
            line-height: 130%;
        }
        .text2{
            line-height: 130%;
        }
    }  
    @media screen and (min-width: 768px){
        .container_project{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 46px;
            .img_atelier{
                width: 400px !important;
                height: 100%;
            }
        }
    }

</style>
