---
---
<header class="wrapper">
	<nav>
		<div class="logo">
      <a href="/">
        <img src="/assets/blog/logo.svg" alt="">
      </a>
		</div>
		<ul>
			<li>
				<a href="/">
          <div class="block">
            <img src="/assets/blog/map.png" alt="">
            <p>Carte</p>
          </div>
				</a>
			</li>
			<!-- <li>
				<a href="/project">
					<img src="/assets/blog/project.svg" alt="">
					<p>Projet</p>
				</a>
			</li>
			<li>
				<a href="/histoire">
					<img src="/assets/blog/history.svg" alt="">
					<p>Histoire</p>
				</a>
			</li>
			<li>
				<a href="/contact">
					<img src="/assets/blog/contact.svg" alt="">
					<p>Contact</p>
				</a>
			</li> -->
		</ul>
    <div class=""></div>
	</nav>
</header>


<script>
  const header = document.querySelector<HTMLDivElement>('header.wrapper')
  console.log(header);

  const headerWidth = header.clientWidth
  const headerSmallWidth = 80
  header.style.width = `${headerSmallWidth}px`
  header.style.transition = "width 0.16s linear"

  header.addEventListener('mouseenter', () => {
    header.style.width = `${headerWidth}px`
  })
  header.addEventListener('mouseleave', () => {
    header.style.width = `${headerSmallWidth}px`
  })

</script>

<style lang="scss">

	header {
		left: 0;
    overflow: hidden;
		top: 0;
		height: 100%;
		padding: 1rem;
		background-color: #2D4436;
    position: fixed;
		nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
      align-items: flex-start;
			height: 100%;

			.logo {
        margin: 0 auto;
				img {
					width: 2.8rem;
          max-width: none;
				}
			}
			ul {
				display: flex;
				flex-direction: column;
				align-items: center;
        list-style-type: none;
				gap: 3rem;
        padding: 0;
				li {
          a {
            color: #E1F6FF;
          }
					.block {
						display: flex;
            align-items: center;
						gap: 1.4rem;

						img {
							width: 3rem;
						}
						p {
              width: fit-content;
              color: #E1F6FF;
						}
					}
				}
			}
		}

	}
</style>
