---
import Title from "../../components/modules/Title.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TextImgInline from "../../components/modules/TextImgInline.astro";
import Contact from "../../components/modules/Contact.astro";


const data = [
  {
    imgUrl: "/assets/images/explorateur1.png",
    texts: [
      "Chaque explorateur va avoir à se documenter et étudier un animal en lien avec son environnement. ",
      "Il partage ses découvertes en équipe, échange et débat des évolutions possibles de l’espèce. C’est un espace où art, science et imagination s’entremêlent pour enrichir la vision des participants.",
    ],
  },
  {
    imgUrl: "/assets/images/explorateur2.png",
    texts: [
      "Un dialogue entre spontanéité et innovation, questionne le rapport de l’humain à la machine dans une démarche créative.",
      "Pour mettre en lumière le procédé de création, prenons en exemple la première espèce du futur recensée dans ce projet, la « Poulosaure ».",
      "Pour clôturer chaque expédition, nous exposons les créations dans le lieu d’accueil, avant qu’elles ne commencent leurs itinérances dans d’autres lieux propices aux alentours. Ces moments de célébration sont des occasions précieuses pour animer des débats autour des illustrations et de notre biodiversité.",
    ],
  },
]

---


<BaseLayout>

  <main class="container">

    <Title title="N°2 Explorateur" sideText="De 12 à 15ans"/>


    {data.map(({imgUrl, texts}, index) => <TextImgInline imgUrl={imgUrl} texts={texts} reverse={index % 2 === 1 ? true : false}/>)}

    <Contact/>

  </main>

</BaseLayout>
