---
const {href} = Astro.props
---


  <a class="button" href={href}>
      <slot/>
  </a>



<style lang="scss">

.button{
    padding: 10px 30px;
    border-radius: 8px;
    background: #2ac18c;
    border: none;
    font-weight: 700;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover{
        background: #124835;
        color: #E1F6FF;
        filter: brightness(100%);
        transform: scale(1.05);
    }
}

</style>
